@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
  url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
  url('../fonts/roboto-v20-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
  url('../fonts/roboto-v20-latin-700.woff') format('woff');
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #16a085;
}
.simplewheel_card{
  max-width: 600px;
  margin: 100px auto 0;
  padding: 40px 70px 200px 40px;
  border-radius: 5px;
  background-color: #fff;
}
.simplewheel_card-title{
  display: flex;
  justify-content: space-between;
}
.simplewheel_card-text{
  color: #777;
  word-spacing: 1px;
  font-weight: 400;
}
.price_table-list{
  display: flex;
  flex-direction: column;
}
.price_table-items{
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
}
.price_table-text{
  font-size: 14px;
  color: #666;
  font-weight: 500;
}
.price_table-number,
.price_table_total-number{
  font-weight: 700;
  font-size: 20px;
}
.price_table-total{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #555;
}